{% extends 'social/layout.html' %}
{% load humanize %}
{% block content %}


{% for post in posts %}
<article>
    <div>
		Reconoces este pais? atrevete!
	</div>
    <div class="container-article">
        <img src="{{post.user.profile.image.url}}">
        <div>
            <h2 class="username"><a class="navbar-brand"     style="color: rgb(0, 0, 0);" href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a></h2>
            
                <img   src="{{post.user.profile.dep1.url}}">
                <img   src="{{post.user.profile.dep2.url}}">
                <img   src="{{post.user.profile.dep3.url}}">
            
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}