{% extends 'social/layout.html' %}
{% block content %}

<!-- Profile -->
<div class="profile">
	<img src="{{user.profile.image.url}}">
	<h2>@{{user.username}}</h2>
	
</div>

<!-- Follow items -->
<div class="follow">
	<div>
		<h5>Saldo</h5>
		{% if saldo %}
		<div><img  src="/media/coincase.png">{{saldo}}</div>
		{% endif %}
	</div>

	
</div>
<div class="medallones-container" style="/* width: 200px; */background-color: #fafafa;
border: 2px solid #ccc;
padding: 0 3rem;
margin: 3rem;">
<div class="container-article">
	<figure>
		<img src="{{user.profile.dep1.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Amazonas</figcaption>
	</figure>
	
	<figure>
		<img src="{{user.profile.dep2.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Antioquia</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep3.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Arauca</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep4.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Atlantico</figcaption>
	</figure>

	<figure>
		<img src="{{user.profile.dep5.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Bolivar</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep6.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Boyaca</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep7.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Caldas</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep8.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Caqueta</figcaption>
	</figure>
</div>
<div class="container-article">
	<figure>
		<img src="{{user.profile.dep9.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Casanare</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep10.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Cauca</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep11.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Cesar</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep12.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Choco</figcaption>
	</figure>

	<figure>
		<img src="{{user.profile.dep13.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Cordoba</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep14.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Cundinamarca</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep15.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Guainia</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep16.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Guaviare</figcaption>
	</figure>
</div>
<div class="container-article">
	<figure>
		<img src="{{user.profile.dep17.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Huila</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep18.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>La Guajira</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep19.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Magdalena</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep20.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Meta</figcaption>
	</figure>

	<figure>
		<img src="{{user.profile.dep21.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Nariño</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep22.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Norte de Santander</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep23.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Putumayo</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep24.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Quindio</figcaption>
	</figure>
</div>
<div class="container-article">
	<figure>
		<img src="{{user.profile.dep25.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Risaralda</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep26.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>San Andres</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep27.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Santander</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep28.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Sucre</figcaption>
	</figure>

	<figure>
		<img src="{{user.profile.dep29.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Tolima</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep30.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Valle del Cauca</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep31.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Vaupes</figcaption>
	</figure>
	<figure>
		<img src="{{user.profile.dep32.url}}" alt="Smiley face" width="42" height="42" />
		<figcaption>Vichada</figcaption>
	</figure>
</div>
</div>
<!-- block super -->
{% endblock %}